client/JianLi3Data/Service References/JianLi3Server/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="Streamed" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IStreamed_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <msf:Streamed xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/Message" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FileWrapper">
    <wsdl:part name="parameters" element="tns:FileWrapper" />
  </wsdl:message>
  <wsdl:message name="FileWrapper_Headers">
    <wsdl:part name="FilePath" element="tns:FilePath" />
  </wsdl:message>
  <wsdl:message name="IStreamed_UploadFile_OutputMessage" />
  <wsdl:message name="IStreamed_DownloadFile_InputMessage">
    <wsdl:part name="parameters" element="tns:DownloadFile" />
  </wsdl:message>
  <wsdl:message name="IStreamed_DownloadFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadFileResponse" />
  </wsdl:message>
  <wsdl:message name="IStreamed_MoveIncontrolFolder_InputMessage">
    <wsdl:part name="parameters" element="tns:MoveIncontrolFolder" />
  </wsdl:message>
  <wsdl:message name="IStreamed_MoveIncontrolFolder_OutputMessage">
    <wsdl:part name="parameters" element="tns:MoveIncontrolFolderResponse" />
  </wsdl:message>
  <wsdl:message name="IStreamed_MoveFileInLib_InputMessage">
    <wsdl:part name="parameters" element="tns:MoveFileInLib" />
  </wsdl:message>
  <wsdl:message name="IStreamed_MoveFileInLib_OutputMessage">
    <wsdl:part name="parameters" element="tns:MoveFileInLibResponse" />
  </wsdl:message>
  <wsdl:message name="IStreamed_CreateSubfolderInLib_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateSubfolderInLib" />
  </wsdl:message>
  <wsdl:message name="IStreamed_CreateSubfolderInLib_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateSubfolderInLibResponse" />
  </wsdl:message>
  <wsdl:portType name="IStreamed">
    <wsdl:operation name="UploadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IStreamed/UploadFile" name="FileWrapper" message="tns:FileWrapper" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStreamed/UploadFileResponse" message="tns:IStreamed_UploadFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IStreamed/DownloadFile" message="tns:IStreamed_DownloadFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStreamed/DownloadFileResponse" message="tns:IStreamed_DownloadFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MoveIncontrolFolder">
      <wsdl:input wsaw:Action="http://tempuri.org/IStreamed/MoveIncontrolFolder" message="tns:IStreamed_MoveIncontrolFolder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStreamed/MoveIncontrolFolderResponse" message="tns:IStreamed_MoveIncontrolFolder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MoveFileInLib">
      <wsdl:input wsaw:Action="http://tempuri.org/IStreamed/MoveFileInLib" message="tns:IStreamed_MoveFileInLib_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStreamed/MoveFileInLibResponse" message="tns:IStreamed_MoveFileInLib_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateSubfolderInLib">
      <wsdl:input wsaw:Action="http://tempuri.org/IStreamed/CreateSubfolderInLib" message="tns:IStreamed_CreateSubfolderInLib_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStreamed/CreateSubfolderInLibResponse" message="tns:IStreamed_CreateSubfolderInLib_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IStreamed" type="tns:IStreamed">
    <wsp:PolicyReference URI="#NetTcpBinding_IStreamed_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="UploadFile">
      <soap12:operation soapAction="http://tempuri.org/IStreamed/UploadFile" style="document" />
      <wsdl:input name="FileWrapper">
        <soap12:header message="tns:FileWrapper_Headers" part="FilePath" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <soap12:operation soapAction="http://tempuri.org/IStreamed/DownloadFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoveIncontrolFolder">
      <soap12:operation soapAction="http://tempuri.org/IStreamed/MoveIncontrolFolder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoveFileInLib">
      <soap12:operation soapAction="http://tempuri.org/IStreamed/MoveFileInLib" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateSubfolderInLib">
      <soap12:operation soapAction="http://tempuri.org/IStreamed/CreateSubfolderInLib" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Streamed">
    <wsdl:port name="NetTcpBinding_IStreamed" binding="tns:NetTcpBinding_IStreamed">
      <soap12:address location="net.tcp://localhost:54321/Message/Streamed" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:54321/Message/Streamed</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>